
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:whitesmoke;
    box-shadow: 20px 7px 5px #041b2abe;
    /* #041b2a */
}
.logo{
    
    width: 10%;
    height: 20%;
    margin-left: 20px;
    
     
 
 }
 ul{
    display: flex;
    
 }
 ul li{
    list-style: none;
   
    margin: 10px;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:#041b2a;
    padding-right: 20px;
    cursor: pointer;
    font-weight: 600;
 }
 li:hover{
  
 
   
 
  text-align: center;
  cursor: pointer;
  color:wheat;
   
 }
 .active{
 
  text-decoration: underline;
 }
 